html, body {
  height: 100%;
  margin: 0;
  text-align: center;
  width: 100%;
  background: white;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer p {
  font-size: 16px;
}

footer img {
  margin: 20px;
}
